.education-container {
    width: 100%; /* Full width for container */
  }
  
.body-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the body */
  }
  