.contact-info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 2.1;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #007bff; // Blue highlight on hover
    }
    img {
      width: 24px; // Adjust size as needed
      height: 24px; // Adjust size as needed
      margin-right: 8px; // Space between icon and text
    }
  }
}
