.container {
  display: flex;
  min-height: 100%;
}

.rhs-main {
  flex-grow: 1;
  background-color: #ffffff;
  overflow-y: auto;
  flex-grow: 1; /* Take remaining space */
  transition: flex-grow 0.3s ease; /* Smooth transition */
}

app-side-nav {
  transition: width 0.3s ease;
}

.expanded-width {
  width: 270px;
}
.collapse-width {
  width: 60px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  app-side-nav {
    width: 60px; // Default to icons-only width on small screens
  }
}
