
.zoom-card {
  background-color: #ffffff; /* Card background */
  padding: 20px; /* Card padding */
  margin-top: 50px;
  margin-bottom: 15px; /* Bottom margin */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  border: 1px solid #e1e1e1; /* Card border */
  width: 800px; /* Fixed width for the card */
  margin-left: auto; /* Center the card horizontally */
  margin-right: auto; /* Center the card horizontally */
}
