html, body {
    margin: 0;       /* Remove default margin */
    padding: 0;      /* Remove default padding */
    height: 100%;    /* Ensure body takes full height */
  }
  
  .display-flex {
    height: 100vh;   /* Ensure layout container takes full height */
  }